@import 'tailwindcss';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.75rem;

  --background: oklch(0.13 0.03 264); 
  --foreground: oklch(0.98 0.01 247);

  --card: oklch(0.18 0.03 264);
  --card-foreground: oklch(0.98 0.01 247);
  --popover: oklch(0.18 0.03 264);
  --popover-foreground: oklch(0.98 0.01 247);

  --primary: oklch(0.61 0.18 68); 
  --primary-foreground: oklch(0.02 0.01 264);

  --secondary: oklch(0.27 0.03 264);
  --secondary-foreground: oklch(0.98 0.01 247);

  --muted: oklch(0.21 0.03 264);
  --muted-foreground: oklch(0.65 0.03 264);

  --accent: oklch(0.61 0.18 68 / 15%);
  --accent-foreground: oklch(0.61 0.18 68);

  --border: oklch(1 0 0 / 12%);
  --input: oklch(1 0 0 / 8%);
  
  --ring: oklch(0.77 0.17 76);

  --destructive: oklch(0.5 0.2 25);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}